<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Тестирование базовых функций ЕТС">
    <test name="Authorization">
        <classes>
            <class name="com.github.steed777.common.runner.BDDRunner">
                <!--<methods>
                    <include name="loginTest"/>
                </methods>-->
            </class>
        </classes>
    </test>
</suite>